.line{
    /* background-color: #6982fc; */
    display: flex;
    flex-direction: row;
}

.box{
    /* background-color: chartreuse; */
    width: 50%;
    height: 75px;
    display: flex;
    flex-direction: column;
}

.button_group{
    /* background-color: chartreuse; */
    width: 80%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

span{
    color: #f0f0f0;
    font-weight: 500;
    font-size: 0.9rem;
}

.input_a{
    background-color: #1C1D21;
    border-bottom: solid 1px #f0f0f0;
    border-right: none;
    border-left: none;
    border-top: none;
    width: 10.6rem;
    font-size: 0.7rem;
    height: 1.5rem;
    padding: 0 0 0 5px;
    color: #f0f0f0;
}

.card{
    margin: 30px 0 0 0 ;
    display: flex;
    justify-content: space-between;
    /* background-color: #ff613d; */
    border: 1px solid #f0f0f0;
    border-radius: 5px;
}

.card_func{
    width: 90%;
    height: fit-content;
    /* border: 1px solid #f0f0f0; */
    border-radius: 5px;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 0 10px 20px;
    font-size: 1rem;
}

.card_edit{
    height: 100%;
    width: 8%;
    border-left: 1px solid #f0f0f0;
    border-radius: 0 5px 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.icon_card{
    color: #f0f0f0;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn_confirm{
    background-color: #FFA34E;
    color: #f0f0f0;
    font-weight: 700;
    font-size: 0.7rem;
    width: 5.2rem;
    height: 1.6rem;
    border: none;
    border-radius: 3px;
    /* transition: all 0.3s ease;   */
}

.btn_cancel{
    background-color: #FFA34E;
    color: #f0f0f0;
    font-weight: 700;
    font-size: 0.7rem;
    width: 5.2rem;
    height: 1.6rem;
    border: none;
    border-radius: 3px;
    /* transition: all 0.3s ease;   */
}

.btn_confirm:hover{
    background-color: #3bcb31;
    color: #f0f0f0;
}

.btn_cancel:hover{
    background-color: #ff613d;
    color: #f0f0f0;
}