@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.menu_lateral {
    width: 5rem;
    height: 100%;
    background-color: #09090A;
    padding: 2.5rem 0rem 2.5rem 0rem;
    box-shadow: 0.2rem 0 0 #FCB069;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .3s;
    position: fixed;
    z-index: 10;
}

.menu_lateral:hover{
    width: 13.75rem;
}

.btn_expandir {
    padding-left: 1rem;
}

.btn_expandir > svg {
    color: #FCB069;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0 0 1.8rem 0.7rem;
}

ul {
    height: 100%;
    list-style-type: none;
    padding-top: 3.75rem;
    padding-left: 2rem;
}


ul li.item_menu a .txt_link{
    transition: .1s;
}

ul li.ativo .icon > svg {
    color: #fff !important;
}


ul li.item_menu a .txt_link:hover{
    color: #fff;
    font-weight: bold;
    border-bottom: 0.125rem solid #FCB069;
}

ul li.item_menu a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 0.7rem 0;
    display: flex;
    margin-bottom: 0.9;
}

ul li.item_menu a .txt_link {
    color: #fff;
    margin-left: 2rem;
}

ul li.item_menu a .icon > svg {
    color: #FCB069;
    font-size: 1rem;
}

/* sair */
ul li.item_menu_out a {
    list-style-type: none;
    margin-top: 100%;
    text-decoration: none;
    font-size: 1.25rem;
    padding: 1.25rem 0;
    display: flex;
    margin-bottom: 0.9;
}

ul li.item_menu_out a .txt_link {
    color: #fff;
    margin-left: 2rem;
    font-size: 1rem;
}

ul li.item_menu_out a .icon > svg {
    color: #FCB069;
    font-size: 1rem;
}